
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
}

body{
    background-color: rgb(227, 234, 240);
}

.facehead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(4, 4, 253);
    margin-top:30px ;
    margin-bottom: 10px;
    overflow-x: hidden;
    clear: both;
    /* background-color: aqua; */
  
}

h2{
    display: block;
    width: 80vw;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}


.loginform{
display:block;
width: 435px;
height: 400px;
margin: auto;
/* text-align: center; */
background-color:#fff;
box-shadow: 0 5px 5px black;
border-radius: 10px;

}

.loginemail{
    display: block;
    width: 400px;
    margin: auto;
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid rgb(179, 174, 174) ;
    border-radius: 5px;
    margin-bottom: 15px;
}

.loginemail:hover{
    border: 2px solid blue;
}

.loginpassword{
    display: block;
    width: 400px;
    margin: auto;
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid rgb(179, 174, 174) ;
    border-radius: 5px;
    margin-bottom: 25px;
}
.loginpassword:hover{
    border: 2px solid blue;
}

.loginbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnlogin{
    width: 400px;
    font-size: 1.3rem;
    padding: 15px;
    color: #fff;
    font-weight: bolder;
    background-color: rgb(6, 70, 245);
    border: 1px solid green;
    border-radius:7px;
    margin-bottom: 20px;
    cursor: pointer;
}

.forgot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.forgotlink{
    color: rgb(2, 66, 240);
    font-size: 1.2rem;
    margin-bottom: 25px;
}


.accountbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnaccount{
    width: 250px;
    font-size: 1.3rem;
    padding: 15px;
    color: #fff;
    font-weight: bolder;
    background-color: rgb(3, 167, 3);
    border: 1px solid green;
    border-radius:7px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
}





